@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-impulse-dark: #0E3345;
  --color-impulse-light: #FED403;
  --color-impulse-blue: #1b6285;
  --color-impulse-light-blue: #5f91a9;
  --color-impulse-blue-dark: #556e7a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
